/* start topbar */
.topbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
}

.menu-mobile {
  font-size: 1.6rem;
  color: #999;
  display: none;
  line-height: var(--topbar-height);
}

.logo-mobile {
  display: none;
  font-size: 1.5rem;
  color: var(--white-color);
}

.logo-mobile h2 {
  margin: 0;
  line-height: var(--topbar-height);
}

.logo-mobile h2:first-child {
  font-weight: 500;
  margin-right: 4px;
}

.logo-mobile h2:last-child {
  font-weight: 300;
  margin-left: 4px;
}

.topbar__left {
  font-size: 1.3rem;
  color: #999;
  line-height: var(--topbar-height);
  padding: 0 16px;
  text-decoration: none;
}

.topbar__right {
  display: flex;
  align-items: center;
}

.topbar__right-auth {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.topbar__right-auth-link {
  text-decoration: none;
  font-size: 1.3rem;
  color: #999;
  padding: 0 16px;
  margin-right: 16px;
}

.topbar__right-cart {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  display: block;
  height: var(--topbar-height);
  line-height: var(--topbar-height);
  padding: 0 16px;
}

.topbar__right-cart-label {
  margin-left: 8px;
}

.topbar__right-cart-label-icon {
  margin-left: 4px;
}
/* end topbar */

/* start header */
.header {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
}

.header.header-image {
  height: 500px;
  background-image: url('../images/header-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: var(--header-top-height);
}

.logo {
  display: flex;
  text-decoration: none;
  color: #222;
  font-size: 1.6rem;
}

.logo h1 {
  margin: 0;
}

.logo h1:first-child {
  margin-right: 16px;
  font-weight: 500;
}

.logo h1:last-child {
  font-weight: 300;
}

.header__top-right {
  display: flex;
}

.header__top-menu {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin: 0 16px 0 0;
}

.header__top-item:hover .header__top-item-link {
  color: var(--primary-color);
}

.header__top-item-link {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
  color: #222;
  padding: 12px;
}

.header__top-item-icon {
  margin-left: 4px;
}

.header__top-search {
  display: inline-flex;
  border: 1px solid #e7e7e7;
  padding-right: 8px;
}

.header__top-search input {
  border: none;
  outline: none;
  padding-left: 8px;
}

.header__top-search-icon {
  font-size: 1.4rem;
  text-decoration: none;
  color: #989898;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}

.header__container-logo {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.header__container-logo h1 {
  font-size: 30rem;
  font-weight: 700;
  line-height: 30rem;
  color: #575153;
  margin: 0;
}

.header__container-btn {
  position: absolute;
  right: 15%;
  bottom: 30px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #454647;
  padding: 20px;
  border: 1px solid #737373;
}
/* end header */
