.app {
  overflow: hidden;
}

/* start topbar */
.topbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.menu-mobile {
  font-size: 1.6rem;
  color: #999;
  display: none;
  line-height: var(--topbar-height);
}

.logo-mobile {
  display: none;
  font-size: 1.5rem;
  color: var(--white-color);
}

.logo-mobile h2 {
  margin: 0;
  line-height: var(--topbar-height);
}

.logo-mobile h2:first-child {
  font-weight: 500;
  margin-right: 4px;
}

.logo-mobile h2:last-child {
  font-weight: 300;
  margin-left: 4px;
}

.topbar__left {
  font-size: 1.3rem;
  color: #999;
  line-height: var(--topbar-height);
  padding: 0 16px;
  text-decoration: none;
}

.topbar__right {
  display: flex;
  align-items: center;
}

.topbar__right-auth {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.topbar__right-auth-link {
  text-decoration: none;
  font-size: 1.3rem;
  color: #999;
  padding: 0 16px;
  margin-right: 16px;
}

.topbar__right-cart {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  display: block;
  height: var(--topbar-height);
  line-height: var(--topbar-height);
  padding: 0 16px;
}

.topbar__right-cart-label {
  margin-left: 8px;
}

.topbar__right-cart-label-icon {
  margin-left: 4px;
}
/* end topbar */

/* start header */
.header {
  display: flex;
  flex-direction: column;
  margin-top: var(--topbar-height);
}

.header.header-image {
  height: 920px;
  background-image: url('../images/header-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: var(--header-top-height);
  padding: 40px 0;
}

.logo {
  display: flex;
  text-decoration: none;
  color: #222;
  font-size: 1.6rem;
}

.logo h1 {
  margin: 0;
}

.logo h1:first-child {
  margin-right: 16px;
  font-weight: 500;
}

.logo h1:last-child {
  font-weight: 300;
}

.header__top-right {
  display: flex;
}

.header__top-menu {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin: 0 16px 0 0;
}

.header__top-item {
  position: relative;
}

.header__top-item:hover .subnav {
  display: block;
}

.header__top-item:hover .header__top-item-link {
  color: var(--primary-color);
}

.header__top-item-link {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
  color: #222;
  padding: 12px;
}

.header__top-item-icon {
  margin-left: 4px;
}

.header__top-search {
  display: inline-flex;
  border: 1px solid #e7e7e7;
  padding-right: 8px;
}

.header__top-search input {
  border: none;
  outline: none;
  padding-left: 8px;
}

.header__top-search-icon {
  font-size: 1.4rem;
  text-decoration: none;
  color: #989898;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}

.header__container-logo {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.header__container-logo h1 {
  font-size: 30rem;
  font-weight: 700;
  line-height: 30rem;
  color: #575153;
  margin: 0;
}

.header__container-btn {
  position: absolute;
  right: 15%;
  bottom: 120px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #454647;
  padding: 20px;
  border: 1px solid #737373;
}
/* end header */

/* mobile menu start */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  animation: fadeIn linear 0.2s;
  z-index: 1;
}

#menu-mobile:checked ~ .overlay {
  display: block;
}
#menu-mobile:checked ~ .navbar__mobile {
  transform: translateX(0);
  opacity: 1;
}

.navbar__mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  max-width: 100%;
  background-color: var(--white-color);
  z-index: 1;
  transform: translateX(-100%);
  opacity: 0;
  transition: all linear 0.2s;
}

.navbar__mobile-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2.4rem;
}

.navbar__mobile-header {
  display: flex;
  padding: 20px 16px;
  align-items: center;
}

.navbar__mobile-header h3 {
  margin: 0;
  font-size: 1.6rem;
  color: var(--secondary-color);
}

.navbar__mobile-header h3:first-child {
  font-weight: 500;
  margin-right: 8px;
}

.navbar__mobile-header h3:last-child {
  font-weight: 300;
}

.navbar__mobile hr {
  margin: 0 16px;
  color: #999;
}

.navbar__mobile-list,
.navbar__mobile-item-categories {
  list-style: none;
  padding-left: 0;
}

.navbar__mobile-item {
  padding: 8px 0 8px 16px;
  font-size: 1.4rem;
  color: var(--secondary-color);
}

.navbar__mobile-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.navbar__mobile-avatar-image {
  width: 25px;
  height: 25px;
  background-image: url('../images/default-avatar.png');
  background-size: cover;
  border: 1px solid #999;
  border-radius: 50%;
}

.navbar__mobile-avatar-label {
  font-size: 1.4rem;
  color: var(--secondary-color);
}

.navbar__mobile-item-icon {
  margin-right: 4px;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.navbar__mobile-item-header {
  text-decoration: none;
  color: var(--secondary-color);
  display: block;
}

.navbar__mobile-item-category-link {
  display: block;
  padding: 8px 0 8px 32px;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--secondary-color);
}
/* mobile menu end */

/* subnav start */
.subnav {
  display: none;
  position: absolute;
  background-color: var(--white-color);
  min-width: 465px;
  min-height: 525px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  top: calc(100% + 16px);
  left: 0;
  z-index: 1;
}

.subnav::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 0;
  height: 20px;
  width: 70px;
}

.subnav__list {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin-left: -12px;
  margin-right: -12px;
}

.subnav__list-menu {
  flex: 1;
  list-style: none;
  padding-left: 12px;
  padding-right: 12px;
}

.subnav__list-menu .subnav__list-item:first-child {
  font-size: 1.6rem;
  color: #575153;
  margin-bottom: 16px;
}

.subnav__list-item-link {
  text-decoration: none;
  font-size: 1.4rem;
  display: block;
  padding: 4px 0;
  color: #7d7d7d;
}

.subnav__sale {
  margin: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--white-color);
  height: 200px;
  padding: 60px 0;
}

.subnav__sale h1 {
  margin: 0;
  font-size: 3.6rem;
  line-height: 3.6rem;
}
/* subnav end */

/* footer start */
.footer {
  display: block;
  background-color: #f8f8f8;
  padding-top: 60px;
}

.footer__category-item {
  display: block;
}

.footer__category-item-header {
  font-size: 1.3rem;
  color: #817d7e;
  font-weight: 500;
  margin: 0;
}

.footer__category-item-menu {
  list-style: none;
  padding-left: 0;
}

.footer__category-item-menu-item:hover .footer__category-item-menu-item-link {
  color: var(--primary-color);
}

.footer__category-item-menu-item-link {
  display: block;
  font-size: 1.4rem;
  color: #727272;
  text-decoration: none;
  padding: 4px 0;
}

.footer__fashion-tag {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.footer__fashion-tag h1 {
  margin: 0;
  font-size: 3.6rem;
}

.footer__fashion-tag h1:first-child {
  font-weight: 500;
}

.footer__fashion-tag h1:last-child {
  font-weight: 300;
}

.footer__socials {
  background-color: var(--primary-color);
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 110px;
  height: 200px;
}

.footer__socials-icon {
  font-size: 3.6rem;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: #999;
  height: 45px;
  margin-top: 58px;
  font-size: 1.3rem;
  font-weight: 500;
}
/* footer end */

/* content nav start */
.app-content hr {
  margin: 50px 100px 0;
}
.app-content__nav {
  margin: auto;
}

.app-content__nav-list {
  display: flex;
  list-style: none;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0;
}

.app-content__nav-item-link {
  text-decoration: none;
  font-size: 1.3rem;
  color: #8a8a8a;
  display: block;
  padding: 24px;
}

.app-content__nav-item:first-child .app-content__nav-item-link {
  padding-left: 0;
}

.app-content__nav-item-link:hover {
  color: var(--primary-color);
}

.app-content__nav-item-link--active {
  color: var(--primary-color);
}
/* content nav end */

/* app content container start */
.app-content__container {
  margin-bottom: 20px;
}
/* app content container end */

/* product start */
.app-content__container-products {
  padding-left: 100px;
  padding-right: 100px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: var(--white-color);
  box-shadow: 2px 2px 2px #f4f4f4;
  margin-bottom: 24px;
}

.product:hover .product__detail,
.product:hover .product__information {
  display: block;
  animation: fadeIn linear 0.3s;
}

.product:hover .product__slide-image {
  display: flex;
  animation: fadeIn linear 0.3s;
}

.product:hover {
  box-shadow: 2px 2px 10px #f4f4f4;
}

.product__image {
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
}

.product.product--big .product__image {
  height: 700px;
}

.product__detail {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: var(--white-color);
  box-shadow: 2px 2px 10px #f4f4f4;
}

.product__info {
  text-align: center;
}

.product__info-link {
  text-decoration: none;
}

.product__info-link:hover .product__info-name {
  color: var(--primary-color);
}

.product__info-name {
  font-size: 1.3rem;
  color: #949494;
  margin-top: 20px;
}

.product__info-description,
.product__info-sub-description {
  font-size: 1.5rem;
  color: #979595;
  margin-top: 0;
  margin-bottom: 0;
}

.product__actions {
  margin-top: 12px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0 28%;
}

.product__action {
  padding: 4px;
  display: block;
  background-color: #727272;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.product__action:hover {
  background-color: var(--primary-color);
}

.product__action-icon {
  font-size: 1.7rem;
  color: var(--white-color);
}

.product__price {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 2.1rem;
  color: #d8d8d8;
  user-select: none;
}

.product__information {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  display: none;
}

.product__information:hover .product__information-icon {
  color: var(--primary-color);
}

.product__information-icon {
  font-size: 4.8rem;
  color: var(--white-color);
}

.product__slide-image {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 216px;
  width: 80px;
  display: none;
}

.product__slide-image-item {
  overflow: hidden;
  flex: 1;
  margin: 5px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 1px solid var(--white-color);
}
/* product end */

/* start lookbook */
.lookbook {
  display: flex;
  background-color: #f8f8f8;
  overflow: hidden;
  padding-right: 56px;
  height: 530px;
  margin-top: 60px;
  margin-bottom: 125px;
}

.lookbook__image {
  height: inherit;
  overflow: hidden;
}

.lookbook__image-img {
  object-fit: cover;
  height: inherit;
}

.lookbook__info {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: right;
  margin-left: auto;
}

.lookbook__info-title {
  user-select: none;
  margin-bottom: 28px;
  margin-top: 28px;
}

.lookbook__info-title h1 {
  font-size: 4.8rem;
  margin: 0;
  line-height: 4.8rem;
}

.lookbook__info-title h1:first-child {
  color: #575153;
  font-weight: 500;
}

.lookbook__info-title h1:last-child {
  color: #746f71;
  font-weight: 300;
}

.lookbook__info-description p {
  color: #939393;
  font-size: 1.5rem;
  margin: 0 0 32px 0;
}

.lookbook__info-action {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  color: #656666;
  font-size: 1.6rem;
  font-weight: 300;
  height: 56px;
  width: 180px;
  margin-left: auto;
  border: 2px solid #737373;
}

.lookbook__info-action:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: unset;
}
/* end lookbook */

/* start the brand header */
.header__container-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__container-brandname {
  font-size: 4.8rem;
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 48px;
}

.header__container-brandname span {
  font-weight: 300;
}

.header__container-slogan {
  font-size: 3rem;
  color: var(--white-color);
  font-weight: 300;
}

.header__container-logo--blur {
  opacity: 0.2;
}

.header__container-logo.header__container-logo--brandpage {
  margin-top: 0;
}

.header__container-logo--brandpage {
  color: #707070;
}
/* end the brand header */

/* start local stores page */
.app-content__stores {
  padding: 60px 0;
}
.store {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 2px 2px 8px #f8f8f8;
  padding: 24px;
}

.store__name {
  margin-bottom: 30px;
}

.store__name-link {
  text-decoration: none;
  font-size: 1.8rem;
  color: #b2b0b1;
}

.store__detail h3 {
  margin: 0;
  font-size: 1.3rem;
  color: #949494;
  font-weight: 300;
  text-transform: uppercase;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.store__description P {
  font-size: 1.5rem;
  color: #979595;
  font-weight: 300;
  margin: 24px 0 30px 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.store__actions-view {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  border: 2px solid #737373;
  color: #454647;
  width: 214px;
  font-size: 1.6rem;
}

.store__actions-view:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: unset;
}
/* end local stores page */
