.hide {
  display: none;
}

@media (max-width: 1600px) and (min-width: 1110px) {
  .lookbook {
    flex-direction: column;
    padding: 24px;
  }

  .lookbook__image {
    display: none;
  }

  .lookbook__info {
    text-align: left;
    margin: 16px;
  }

  .lookbook__info-action {
    margin-left: 0;
  }

  .lookbook-item {
    height: 400px;
  }
}

@media (max-width: 1109px) and (min-width: 1024px) {
  .lookbook {
    padding-left: 56px;
    margin-bottom: 0;
  }

  .footer {
    margin-top: 125px;
  }
}

@media (max-width: 1350px) and (min-width: 1024px) {
  .header {
    padding-top: 24px;
  }

  .product__image {
    height: 300px;
  }

  .product.product--big .product__image {
    height: 500px;
  }
}

/* tablet to pc */
@media (min-width: 1024px) {
  .hide--tablet-to-pc {
    display: none;
  }
}

/* mobile and tablet */
@media (max-width: 1023px) {
  .hide--small-screen {
    display: none;
  }
  .menu-mobile {
    display: block;
  }

  .header.header-image {
    height: 400px;
  }
  .header__topbar {
    padding: 0 25px;
  }
  .logo {
    font-size: 1.2rem;
  }
  .header__container-logo {
    margin-top: -4rem;
  }
  .header__container-logo h1 {
    font-size: 20rem;
    font-weight: 700;
    line-height: 20rem;
  }

  .lookbook {
    padding-left: 56px;
    margin-bottom: 0;
  }

  .store {
    margin: 24px 0 24px 0;
  }

  .brand-logo {
    padding: 16px;
  }

  .signup::before {
    display: none;
  }

  .lookbook-item.lookbook-item--large {
    background-position: 20% center;
  }

  .product-container__details {
    margin-top: 16px;
  }

  .product__info-name {
    margin-bottom: 24px;
  }

  .product__info-details {
    margin-bottom: 16px;
  }

  .product__info-price {
    margin-bottom: 32px;
  }

  .product__info-config {
    margin-bottom: 30px;
  }

  .footer {
    margin-top: 125px;
  }

  .footer__fashion-tag h1,
  .footer__socials-icon {
    font-size: 2.6rem;
  }

  .footer__category-item {
    margin-bottom: 40px;
  }
}

/* only tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide--tablet {
    display: none;
  }

  .header__container-btn {
    bottom: 40px;
  }

  .app-content__container-products,
  .app-content__nav-list {
    padding-left: 50px;
    padding-right: 50px;
  }

  .product-container__image-slider {
    height: 500px;
  }

  .product-container__image-slider-next,
  .product-container__image-slider-previous {
    font-size: 3rem;
  }

  .footer__socials {
    padding: 0 70px;
  }
}

/* only mobile */
@media (max-width: 739px) {
  .hide--mobile {
    display: none;
  }

  .topbar {
    justify-content: space-between;
    padding: 0 24px;
  }

  .logo-mobile {
    display: flex;
  }

  .topbar__right-cart {
    background-color: #333;
    color: #999;
    padding: 0;
  }

  .header.header-image {
    background-image: unset;
    height: calc(var(--header-top-height) + 16px);
  }

  .header__top-right {
    flex: 1;
    padding: 0 24px;
  }
  .header__top-search,
  .header__top-search input {
    flex: 1;
  }

  .app-content__nav-list,
  .app-content__container-products {
    padding-left: 24px;
    padding-right: 24px;
  }

  .app-content__container {
    margin-top: 50px;
  }

  .app-content__stores {
    padding: 60px 24px;
  }

  .lookbook {
    height: 400px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .lookbook__info {
    text-align: left;
    margin: 16px;
  }

  .lookbook__info-title {
    display: flex;
  }

  .lookbook__info-title h1 {
    font-size: 2.7rem;
    margin-right: 8px;
  }

  .lookbook__info-action {
    margin-left: 0;
  }

  .lookbook__container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .app-content__brands {
    padding: 0 16px;
    margin-top: 0;
  }

  .brand__image {
    height: 200px;
  }

  .lookbook-item {
    background-image: unset;
  }

  .lookbook-item__container {
    flex: 1;
    padding: 32px 16px;
  }

  .lookbook-item.lookbook-item--large {
    background-position: left center;
    height: 400px;
  }

  .lookbook-item__container-title h1 {
    font-size: 2.7rem;
  }

  .lookbook-item__container-title h1:first-child {
    margin-right: 8px;
  }

  .product-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
  }

  .product-container__image-slider {
    height: 400px;
  }

  .product-container__image-slider-next,
  .product-container__image-slider-previous {
    font-size: 3rem;
    padding: 4px;
  }

  .product__info-config--color {
    flex: 1;
    margin-bottom: 12px;
  }

  .product__info-action {
    flex: 1;
  }

  .product__info-actions .product__info-action {
    margin-right: 0;
  }

  .product__data-tabs {
    flex-direction: column;
  }

  .product__data-tab {
    /* flex: 1; */
    width: 100%;
  }

  .footer {
    padding: 60px 16px 0 16px;
  }

  .footer__fashion-tag {
    margin-bottom: 16px;
  }

  .footer__socials {
    padding: 0 86px;
  }
}

@media (max-width: 425px) {
  .product__info-config--color {
    margin-right: 0;
  }
}
